<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactos">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<h1>PÁGINA NO ENCONTRADA</h1>

  <!--  <img src="https://dinahosting.com/blog/upload/2021/03/error-404.jpg" alt="error" width="50%"> -->
    <img th:src="@{/imagenes/error404.jpg}" width="50%"/>


<h3>
    <a href="/">Ir a Home</a>
</h3>


</body>
</html>


<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
